# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.vscode/settings.json
src/com/annt2008110023/lab6/Dog.java
src/com/annt2008110023/lab6/DogTestDrive.java
src/com/annt2008110023/tuan07/Amoeba.java
src/com/annt2008110023/tuan07/IntSquare.java
src/com/annt2008110023/tuan07/Shape.java
src/com/annt2008110023/tuan07/Circle.java
.gitignore
src/com/annt2008110023/tuan08/Animal.java
src/com/annt2008110023/tuan08/EmployeeTestDrive.java
src/com/annt2008110023/tuan08/Person.java
src/com/annt2008110023/tuan08/Hippo.java
src/com/annt2008110023/tuan08/HippoTestDrive.java
